@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

body {
    background: hsl(217, 54%, 11%);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 96vh;

    section {
        height: 570px;
        width: 330px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: hsl(216, 50%, 16%);
        border-radius: 12px;

        .first-part {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                position: relative;
                width: 300px;
                border-radius: 12px;
            }

            .hover {
                height: 300px;
                width: 300px;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    position: absolute;
                    height: 300px;
                    width: 300px;
                    display: block;
                    background-color: hsl(178, 100%, 50%);
                    border-radius: 12px;
                    opacity: 0;
                    cursor: pointer;
                }

                span:hover {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: .5;
                }

                .view {
                    position: absolute;
                    width: 50px;
                    cursor: pointer;
                    opacity: 0;
                }

                span:hover+.view {
                    opacity: 1;
                }

            }

            h1 {
                align-self: flex-start;
                color: hsl(0, 0%, 100%);
                padding: 20px 15px;
                font-size: 22px;
                font-weight: 600;
                cursor: pointer;
            }

            h1:hover {
                color: hsl(178, 100%, 50%);
            }

            h2 {
                color: hsl(215, 51%, 70%);
                padding: 0px 15px;
                font-weight: 300;
            }
        }

        .second-part {
            display: flex;
            width: 100%;
            padding: 20px;
            justify-content: space-between;

            .currency {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: start;
                gap: 5px;

                h1 {
                    color: hsl(178, 100%, 50%);
                    font-weight: 600;
                }
            }

            .time-left {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: end;
                gap: 5px;

                h2 {
                    font-weight: 300;
                    color: hsl(215, 51%, 70%);
                }
            }
        }

        .credits {

            width: 90%;
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 10px;
            padding: 20px 0 0 0;
            border-top: 1px solid hsl(215, 32%, 27%);

            img {
                width: 40px;
                border: 1.5px solid #fff;
                border-radius: 50%;
            }

            p {
                font-size: 14px;
                font-weight: 300;
                color: hsl(215, 51%, 70%);

                span {
                    font-size: 14px;
                    font-weight: 400;
                    color: hsl(0, 0%, 100%);
                    cursor: pointer;
                }

                span:hover {
                    color: hsl(178, 100%, 50%);
                }

            }
        }
    }

}

footer {
    width: 100vw;
    display: flex;
    justify-content: end;
    padding-right: 20px;

    p {
        color:hsl(0, 0%, 100%);
    }

    a {
        color: aqua;
    }

}